// var
// media
@mixin mobile(){
	@media screen and (max-width:750px){
		@content;
	}
}
// pre
hr{
	width:80%;
	background-color:#bdc3c7;
	height:1px;
}
%center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.iconify{
	font-size: 3rem;
}
.tit{
	font-size: 3rem;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 1rem;
	@include mobile(){
		font-size:2rem;
	}
}
// navbar
.navbar{
	background-color: transparent;
	.iconify{
		color: white;
	}
	.navbar-link{
		color: white;
		font-weight: bolder;
		&:hover{
			color: #323030;
		}
	}
}
// hero
#hero{
	.hero-body{
		@extend %center;
	}
	.title{
		h1{
			font-size: 3rem;
		}
		p{
			font-size: 2rem;
		}
		button{
			font-size: 2rem;
		}
	}
}
// about
#about{
	background: url("img/bg.jpg") no-repeat fixed center / cover;
}
// cards
#crd{
	.iconify{
		color: white;
	}
}

#gallery{

}

#contact{
	.info{
		border-bottom:1px solid #bdc3c7;
	}
	.input{
		box-shadow:none;
		border-radius:0px;
			border:none;
		&:focus{
			border:none;
		}
	}
	.textarea{
		border:none;
		&:focus{
			border:none;
		}
	}
}